Source: php5-wmerrors
Section: php
Priority: extra
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper (>= 8), autotools-dev, php5-dev
Standards-Version: 3.9.3

Package: php5-wmerrors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: An extension for enhancing and customising the handling of PHP errors.
